* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-light:       #ffffff;
  --color-shade-one:   #0ce6f2;
  --color-shade-two:   #0098db;
  --color-shade-three: #1e579c;
  --color-shade-four:  #203562;
  --color-shade-five:  #252446;
  --color-shade-six:   #201533;

  background-color: var(--color-shade-six);
  color: var(--color-light);
}

/* GLOBAL */
.br {
  border-radius: 10px;
}

.box-shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.capitalize {
  text-transform: capitalize;
}

.btn {
  background-color: var(--color-shade-four);
  border: none;
  color: var(--light-one);
}

.center {
  text-align: center;
}

a {
  color: var(--color-shade-two);
}

/* SIGN-IN */
.signin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.025);
}

.welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-shade-four);
  border-radius: 10px 0 0 10px;
  font-size: 1.5rem;
  font-weight: bold;
  height: 50vh;
  padding: 2rem;
}

.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 0.5rem;
}

.signin-form > * {
  padding: .5rem;
}

/* HOMEPAGE */
.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HEADER */
header,
footer {
  display: flex;
  width: 100vw;
  border-bottom: red solid 1px;
  border-top: red solid 1px;
}
